<h1 mat-dialog-title>Пригласить друзей</h1>
<div mat-dialog-content>
  <p>
    Поделитесь ссылкой на мероприятие с друзьями, чтобы они могли вести учёт
    покупок вместе с вами:
  </p>
  <div class="share-link">{{ eventLink() }}</div>
</div>
<div mat-dialog-actions align="end">
  <button color="basic" mat-raised-button (click)="onLatetClick()">
    Позже
  </button>
  <button
    color="primary"
    mat-raised-button
    [cdkCopyToClipboard]="eventLink()"
    (click)="onCopyClick()"
  >
    Скопировать
  </button>
</div>
