<header>
  <mat-toolbar color="primary">
    <button class="router-button" mat-icon-button routerLink="/">
      <mat-icon>close</mat-icon>
    </button>
    <span>Написать разработчикам</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      form="feedbackForm"
      [disabled]="feedbackForm.invalid"
    >
      <mat-icon>check</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main>
  <form
    class="form"
    [formGroup]="feedbackForm"
    (ngSubmit)="sendFeedback()"
    id="feedbackForm"
  >
    <mat-form-field class="full-width">
      <mat-label>Ваш отзыв</mat-label>
      <input matInput formControlName="message" required="true" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Электронная почта (необязательно)</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>
  </form>
</main>
