.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2em);
  background: #fff;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
