<div class="gradient-container" *transloco="let t">
  <div class="wrapper">
    <header></header>

    <main>
      <div class="description">
        <h1 class="title">WeSplit</h1>
        <p class="subtitle">{{ t('landing.subtitle') }}</p>
        <button
          color="primary"
          mat-raised-button
          [routerLink]="['/', 'events']">
          {{ t('auth.login.title') }}
        </button>
      </div>

      <div class="demo">
        <video
          #video
          (canplay)="video.play()"
          (loadedmetadata)="video.muted = true"
          autoplay
          loop
          muted
          playsinline
          width="100%"
          height="auto">
          <source src="/demo.mp4" type="video/mp4" />
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
    </main>

    <footer>
      <div class="system_status">
        <span>{{ t('landing.status.title') }}: </span>
        <a
          href="https://wesplit-status.checkly-dashboards.com"
          class="link {{ isNormalStatus ? 'success' : 'failed' }}">
          {{ systemStatus }}
        </a>
      </div>

      <div class="open_source">
        <span>Coded with ❤️</span>
        <span class="divider">|</span>
        <a
          class="link github_link"
          href="https://github.com/yangirov/wesplit"
          target="_blank"
          rel="nofollow noreferrer">
          <img class="github_icon" src="/github.svg" alt="Github icon" />
          Github
        </a>
      </div>
    </footer>
  </div>
</div>
