.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2em);
  padding: 1em;
  background: #fff;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;

  .not_found {
    width: auto;
    height: auto;

    &__emoji {
      position: relative;
      font-size: 9em;
      line-height: 1;
    }

    &__text {
      margin-left: 1em;

      .title {
        margin-top: 0;
        padding-top: 0;
        font-weight: bold;
      }
    }
  }
}
