<app-sidenav-layout *transloco="let t" [loading$]="loading$">
  <div class="header-flex" header>
    <h1 class="header-title">{{ t('events-list.title') }}</h1>
  </div>

  @if (events$ | async; as events) {
    <div body>
      @if (events.length) {
        <div>
          @for (event of events; track event.id) {
            <event-item [event]="event"></event-item>
          }
        </div>
      } @else {
        <empty-items icon="event" [text]="t('events-list.noEvents')"></empty-items>
      }

      <fab-button link="/events/new" icon="add"></fab-button>
    </div>
  }
</app-sidenav-layout>
