<header>
  <mat-toolbar color="primary">
    <h1>{{ "events-list.title" | transloco }}</h1>
    <span class="spacer"></span>
    <button mat-icon-button [routerLink]="['feedback']">
      <mat-icon>mail</mat-icon>
    </button>
  </mat-toolbar>
</header>

<div *ngIf="loading$ | async; else form">
  <spinner></spinner>
</div>

<ng-template #form>
  <main>
    <div *ngIf="events.length; else noEvents">
      <event-item
        *ngFor="let event of events.reverse()"
        [event]="event"
      ></event-item>
    </div>

    <ng-template #noEvents>
      <empty-items
        icon="event"
        *transloco="let t"
        [text]="t('events-list.noEvents')"
      ></empty-items>
    </ng-template>

    <fab-button link="/events/new" icon="add"></fab-button>
  </main>
</ng-template>
