<h2 mat-dialog-title>
  {{ "event.share.title" | transloco }}
</h2>

<div mat-dialog-content>
  <p>
    {{ "event.share.text" | transloco }}
  </p>

  <div class="share-link">{{ eventLink }}</div>
</div>

<div mat-dialog-actions class="buttons">
  <button color="basic" mat-raised-button (click)="onLaterClick()">
    {{ "event.share.later" | transloco }}
  </button>

  <button
    color="primary"
    mat-raised-button
    [cdkCopyToClipboard]="eventLink"
    (click)="onCopyClick()"
  >
    {{ "event.share.copy" | transloco }}
  </button>
</div>
