.empty-items {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 70vh;

  .large-icon {
    font-size: 12rem;
    height: 12rem;
    width: 12rem;
    color: #ccc;
    margin-bottom: 2rem;
  }
}
