.empty-items {
  height: 84.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    max-width: 320px;
    text-align: center;
  }

  &__icon {
    mat-icon {
      font-size: 10rem;
      color: var(--medium-grey);
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    margin-top: 1em;
    color: var(--grey);
  }
}
