<app-layout>
  <div class="header-flex" header>
    <button class="router-button" mat-icon-button [routerLink]="['/']">
      <mat-icon>close</mat-icon>
    </button>
    <h1>{{ "settings.title" | transloco }}</h1>
  </div>

  <div body>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Language</mat-label>
      <select
        matNativeControl
        required
        name="all"
        (ngModelChange)="onChange($event)"
        [ngModel]="selectedLanguage"
      >
        <option value="en">English</option>
        <option value="ru">Русский</option>
      </select>
    </mat-form-field>
  </div>
</app-layout>
