<div class="event-action" *transloco="let t">
  <div class="event-action__icon-wrapper">
    <div class="event-action__icon icon_{{ actionIcon }}">
      <mat-icon>{{ actionIcon }}</mat-icon>
    </div>
  </div>
  <div class="event-action__info">
    <div class="event-action__content">
      <div class="event-action__text-wrapper">
        <action-type [action]="action"></action-type>
      </div>
      @if (action.sum;as  sum) {
        <div class="event-action__sum">
          {{ sum }} {{ currencyService.getCurrencyAcronym() }}
        </div>
      }

      @if (action.debtSum;as  debtSum) {
        <div class="event-action__debt-sum">
          <mat-icon>arrow_forward</mat-icon>
          <span>
            {{ debtSum }} {{ currencyService.getCurrencyAcronym() }}
          </span>
        </div>
      }
    </div>

    @if (action.date) {
      <div class="event-action__date">
        {{ actionDate }}
      </div>
    }
  </div>
</div>

<mat-divider></mat-divider>
