<div class="event-action" *transloco="let t">
  <div class="event-action__icon-wrapper">
    <div class="event-action__icon icon_{{ actionIcon }}">
      <mat-icon>{{ actionIcon }}</mat-icon>
    </div>
  </div>
  <div class="event-action__info">
    <div class="event-action__content">
      <div class="event-action__text-wrapper">
        <action-type [action]="action"></action-type>
      </div>
      <div class="event-action__sum" *ngIf="action.sum">
        {{ action.sum }} {{ currencyService.getCurrencyAcronym() }}
      </div>
      <div class="event-action__debt-sum" *ngIf="action.debtSum">
        <mat-icon>arrow_forward</mat-icon>
        <span>
          {{ action.debtSum }} {{ currencyService.getCurrencyAcronym() }}
        </span>
      </div>
    </div>
    <div class="event-action__date" *ngIf="action.date">
      {{ actionDate }}
    </div>
  </div>
</div>

<mat-divider></mat-divider>
