<app-layout [loading$]="loading$" *transloco="let t">
  <div class="header-flex" header>
    <button class="router-button" mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <h1>{{ t('event.qr-receipt.title') }}</h1>
    <span class="spacer"></span>
    <button mat-icon-button form="receiptForm" [disabled]="receiptForm.invalid">
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <div body>
    @if (receipt) {
      <div class="receipt">
        <form-errors
          class="receipt-form_errors"
          [form]="receiptForm"
          [errors]="['minLengthArray', 'minPurchaseInReceipt']"
        localization="event.qr-receipt"></form-errors>
        <div class="receipt-header">
          <span class="receipt-header__date">
            {{ receiptDate }}
          </span>
          <span class="receipt-header__total-sum">
            {{ receiptTotalSum }}
          </span>
        </div>

        <form [formGroup]="receiptForm" (ngSubmit)="onSubmit()" id="receiptForm">
          <div formArrayName="purchases">
            @for (purchaseControl of purchases.controls; track purchaseControl; let i = $index) {
              <div
                [formGroupName]="i">
                <mat-checkbox color="primary" formControlName="selected">
                  <div class="receipt-item">
                    <span class="name">
                      {{ purchaseControl.get('name')?.value }}
                    </span>
                    <span class="sum">
                      {{ purchaseControl.get('sum')?.value }}
                    </span>
                  </div>
                </mat-checkbox>
              </div>
            }
          </div>
        </form>
      </div>
    }
  </div>
</app-layout>

@if (!isSuccessScan) {
  <div id="qr-reader"></div>
}
