<div *ngIf="allDebts?.length">
  <event-check [debts]="allDebts"></event-check>

  <separator></separator>

  <div class="title_wrapper" *transloco="let t">
    <grey-title [text]="t('event.balance.currentDebts')"></grey-title>
  </div>

  <div *ngFor="let debt of positiveDebts">
    <debt-item
      [event]="event"
      [debt]="debt"
      [debtType]="debtTypes.Positive"></debt-item>
  </div>

  <div *ngFor="let debt of negativeDebts">
    <debt-item
      [event]="event"
      [debt]="debt"
      [debtType]="debtTypes.Negative"></debt-item>
  </div>

  <div *ngFor="let debt of othersDebts">
    <debt-item
      [event]="event"
      [debt]="debt"
      [debtType]="debtTypes.Neutral"></debt-item>
  </div>
</div>

<div *transloco="let t">
  <empty-items
    *ngIf="allDebts.length === 0 && !hasReturnedDebts"
    icon="add_shopping_cart"
    [text]="t('event.balance.empty')"></empty-items>

  <empty-items
    *ngIf="allDebts.length === 0 && hasReturnedDebts"
    icon="check"
    [text]="t('event.balance.allDebtsRePayed')"></empty-items>
</div>
