<header>
  <mat-toolbar color="primary">
    <button
      class="router-button"
      mat-icon-button
      [routerLink]="['/events', eventId]"
    >
      <mat-icon>close</mat-icon>
    </button>
    <span>{{ title() }}</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      form="purchaseForm"
      [disabled]="purchaseForm.invalid"
    >
      <mat-icon>check</mat-icon>
    </button>
  </mat-toolbar>
</header>

<div *ngIf="loading$ | async; else form">
  <spinner></spinner>
</div>

<ng-template #form>
  <main class="container">
    <form
      [formGroup]="purchaseForm"
      (ngSubmit)="onSubmit()"
      id="purchaseForm"
    ></form>
  </main>
</ng-template>
