.debt-item {
  display: flex;
  align-items: center;
  padding: 1.2em;

  &.returned {
    .info {
      color: var(--grey);
    }
    .sum {
      display: none;
      color: var(--grey);
    }
  }

  &.negative {
    .sum {
      color: var(--red);
    }
  }

  &.positive {
    .sum {
      color: var(--medium-green);
    }
  }

  &.neutral {
    .sum {
      color: var(--dark);
    }
  }

  .wrapper {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;

    .info {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      align-items: center;
      overflow-x: auto;
      overflow-y: hidden;
      margin-right: 1em;
      font-size: 1.2em;
      font-weight: normal;
      line-height: 1.11;
      color: var(--dark);

      .from,
      .to {
        white-space: nowrap;
      }

      .icon {
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;
        font-size: 1em;
        top: 4px;
        left: 4px;
        color: var(--grey);
        padding: 0 0.2em;
      }
    }
  }

  .sum {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.22;
  }
}
