<header>
  <mat-toolbar color="primary">
    <button class="router-button" mat-icon-button [routerLink]="['/']">
      <mat-icon>close</mat-icon>
    </button>
    <h1>{{ this.titleService.getTitle() }}</h1>
    <span class="spacer"></span>
    <button
      mat-icon-button
      form="feedbackForm"
      [disabled]="feedbackForm.invalid"
    >
      <mat-icon>check</mat-icon>
    </button>
  </mat-toolbar>
</header>

<div *ngIf="loading$ | async; else form">
  <spinner></spinner>
</div>

<ng-template #form>
  <main class="container">
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" id="feedbackForm">
      <mat-form-field class="full-width">
        <mat-label>Электронная почта (необязательно)</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Ваш отзыв</mat-label>
        <textarea
          matInput
          formControlName="message"
          rows="10"
          required
        ></textarea>
      </mat-form-field>
    </form>
  </main>
</ng-template>
