.event_description {
  .event_title {
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .event_subtitle {
    font-size: 13px;
    font-weight: normal;
    color: var(--grey);
    line-height: 1.2;
  }
}
