.auth-buttons {
  display: flex;
  flex-direction: column;
  margin: 2em auto 0;
  align-items: center;

  .auth-button {
    margin: 0.5em 0;
    width: 220px;

    div {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: start;
      justify-self: start;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }

    .mat-icon {
      width: 20px;
      height: 20px;
    }

    &__text {
      font-size: 1.2em;
      margin-left: 0.8em;
      white-space: nowrap;
    }
  }
}
