<app-sidenav-layout [loading$]="loading$" *transloco="let t">
  <div class="header-flex" header>
    <button class="router-button" mat-icon-button (click)="onBack()">
      <mat-icon>arrow_backward</mat-icon>
    </button>

    <h1>{{ t('auth.login.title') }}</h1>
  </div>

  <div body>
    <div class="auth-buttons" *transloco="let t">
      <button class="auth-button" mat-raised-button (click)="openLoginModal()">
        <mat-icon class="auth-button__icon">email</mat-icon>
        <span class="auth-button__text">{{ t('auth.service') }} Email</span>
      </button>

      <button
        class="auth-button"
        mat-raised-button
        (click)="loginWithService('google')">
        <img
          class="auth-button__icon"
          src="/auth/google.svg"
          alt="Google icon" />
        <span class="auth-button__text">{{ t('auth.service') }} Google</span>
      </button>

      <button
        class="auth-button"
        mat-raised-button
        (click)="loginWithService('github')">
        <img
          class="auth-button__icon"
          src="/auth/github.svg"
          alt="Google icon" />
        <span class="auth-button__text">{{ t('auth.service') }} Github</span>
      </button>
    </div>
  </div>
</app-sidenav-layout>
