<app-sidenav-layout [loading$]="loading$">
  <div class="header-flex" header>
    <button class="router-button" mat-icon-button [routerLink]="['/']">
      <mat-icon>arrow_backward</mat-icon>
    </button>

    <h1>{{ "auth.login.title" | transloco }}</h1>
  </div>

  <div body>
    <div class="auth-buttons" *transloco="let t">
      <p>TODO. Not working correctly now.</p>

      <button class="auth-button" mat-raised-button (click)="login('google')">
        <img
          class="auth-button__icon"
          src="/assets/auth/google.svg"
          alt="Google icon"
        />
        <span class="auth-button__text">{{ t("auth.service") }} Google</span>
      </button>

      <button class="auth-button" mat-raised-button (click)="login('twitter')">
        <img
          class="auth-button__icon"
          src="/assets/auth/twitter.svg"
          alt="Google icon"
        />
        <span class="auth-button__text">{{ t("auth.service") }} Twitter</span>
      </button>

      <button class="auth-button" mat-raised-button (click)="login('github')">
        <img
          class="auth-button__icon"
          src="/assets/auth/github.svg"
          alt="Google icon"
        />
        <span class="auth-button__text">{{ t("auth.service") }} Github</span>
      </button>
    </div>
  </div>
</app-sidenav-layout>
