<div *transloco="let t">
  <h2 mat-dialog-title>{{ t('event.balance.returnDebt') }}</h2>

  <div mat-dialog-content>
    <div class="repay-debt__direction">
      {{ payload.debt.from }}
      <div class="repay-debt__icon">
        <mat-icon>arrow_forward</mat-icon>
      </div>
      {{ payload.debt.to }}
    </div>

    <form [formGroup]="rePayDebtForm" (ngSubmit)="onSubmit()" id="rePayDebtForm">
      <mat-form-field class="full-width">
        <mat-label>
          {{ t('common.sum') }},
          {{ currencyService.getCurrencyAcronym() }}
        </mat-label>
        <input
          matInput
          formControlName="sum"
          required
          type="text"
          name="currency"
          inputmode="numeric"
          pattern="^\d+(\.\d{1,2})?$"
          placeholder="0.00"
        />
      </mat-form-field>

      @if (hasErrorSumLessOrEqualDebt) {
        <div class="mat-form-field-invalid">
          {{ t('event.balance.sumLessOrEqualDebt') }}

          <span class="bold"> {{ this.payload.debt.sum }} {{ currencyService.getCurrencyAcronym() }} </span>
        </div>
      }
    </form>
  </div>

  <div mat-dialog-actions class="buttons">
    <button color="basic" mat-raised-button (click)="onCancel()" [disabled]="loading$ | async">
      {{ t('common.cancel') }}
    </button>
    <button
      color="primary"
      mat-raised-button
      form="rePayDebtForm"
      [disabled]="rePayDebtForm.invalid || (loading$ | async)"
    >
      {{ t('common.ok') }}
    </button>
  </div>
</div>
