.purchase-item {
  display: flex;
  padding: 16px;

  &__description {
    flex-grow: 1;
  }

  &__title {
    color: var(--dark);
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 1.2;
  }

  &__payer {
    height: 16px;
    color: var(--dark);
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 16px;
  }

  &__subtitle {
    height: 16px;
    color: var(--grey);
    font-size: 14px;
    line-height: 16px;
  }

  &__sum {
    font-weight: 700;
    color: var(--dark);
    text-transform: uppercase;
    white-space: nowrap;
  }
}
