.purchase-item {
  display: flex;
  padding: 16px;

  &__description {
    flex-grow: 1;
  }

  &__title {
    color: #1d1e1f;
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 1.2;
  }

  &__payer {
    height: 16px;
    color: #1d1e1f;
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 16px;
  }

  &__subtitle {
    height: 16px;
    color: #83888d;
    font-size: 14px;
    line-height: 16px;
  }

  &__sum {
    font-weight: 700;
    color: #1d1e1f;
    text-transform: uppercase;
  }
}
