.event-item {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  &:hover {
    cursor: pointer;
  }

  &__description {
    flex-grow: 1;
    flex-shrink: 1;

    .description-title {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.1;
      color: var(--dark);
      margin: 0 0 8px 0;
    }

    .description-subtitle {
      font-size: 14px;
      line-height: 1.14;
      color: var(--grey);

      .subtitle-date {
        margin-bottom: 4px;
      }
    }
  }

  &__debt {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 0;
    flex-shrink: 0;

    .debt-status {
      text-align: right;

      &.negative {
        color: var(--red);
      }

      &.positive {
        color: var(--medium-green);
      }

      &.neutral {
        color: var(--dark);
      }
    }

    .debt-status {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.1;
    }

    .status {
      font-size: 13px;
      font-weight: normal;
      line-height: 1.23;

      &.positive {
        color: var(--medium-green);
      }

      &.negative {
        color: var(--red);
      }
    }
  }
}
