<header *ngIf="event">
  <mat-toolbar color="primary">
    <button class="router-button" mat-icon-button routerLink="/">
      <mat-icon>arrow_backward</mat-icon>
    </button>
    <span>{{ event.name }}</span>
    <span class="spacer"></span>
    <button (click)="openShareModal()" mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main *ngIf="event">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Покупки">
      <purchases-tab [event]="event"></purchases-tab>
    </mat-tab>
    <mat-tab label="Баланс">
      <debts-tab [event]="event"></debts-tab>
    </mat-tab>
    <mat-tab label="Действия">
      <actions-tab [event]="event"></actions-tab>
    </mat-tab>
  </mat-tab-group>
</main>
