::ng-deep {
  .sidenav-content {
    main {
      height: calc(100% - 64px);
    }

    .mat-tab-group {
      height: 100%;
    }

    .mat-tab-body-wrapper {
      height: 100%;
    }
  }
}

.event-anonymous {
  font-size: 0.7em;
  opacity: 0.7;
}

.purchases-filter {
  display: flex;
}
