<app-sidenav-layout [loading$]="loading$">
  <div sidenav *ngIf="event">
    <event-sidenav [event]="event"></event-sidenav>
  </div>

  <div class="header-flex" header *ngIf="event">
    <button class="router-button" mat-icon-button [routerLink]="['/']">
      <mat-icon>arrow_backward</mat-icon>
    </button>

    <h1>{{ event.name }}</h1>
  </div>

  <div body *ngIf="event">
    <mat-tab-group mat-stretch-tabs *transloco="let t">
      <mat-tab [label]="t('event.tabs.purchases')" style="height: 100%">
        <purchases-tab [event]="event"></purchases-tab>
      </mat-tab>
      <mat-tab [label]="t('event.tabs.balance')">
        <debts-tab [event]="event"></debts-tab>
      </mat-tab>
      <mat-tab [label]="t('event.tabs.actions')">
        <actions-tab [event]="event"></actions-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-sidenav-layout>
