<ng-container *transloco="let t">
  @if (event$ | async; as event) {
    <app-sidenav-layout [loading$]="loading$">
      @if (event) {
        <div sidenav>
          <event-sidenav (notifyParent)="getNotification($event)" [event]="event"></event-sidenav>
        </div>
      }

      @if (event) {
        <div class="header-flex" header>
          <button class="router-button" mat-icon-button [routerLink]="['/events']">
            <mat-icon>arrow_backward</mat-icon>
          </button>
          <h1 class="event-title">
            {{ event.name }}

            @if (!(authService.currentUser$ | async)) {
              <span class="event-anonymous">
                {{ t('event.anonymous') }}
              </span>
            }
          </h1>
        </div>
      }

      @if (event) {
        <mat-tab-group body mat-stretch-tabs>
          <mat-tab [label]="t('event.tabs.purchases')">
            <purchases-tab [event]="event"></purchases-tab>
          </mat-tab>
          <mat-tab [label]="t('event.tabs.balance')">
            <debts-tab [event]="event"></debts-tab>
          </mat-tab>
          <mat-tab [label]="t('event.tabs.actions')">
            <actions-tab [event]="event"></actions-tab>
          </mat-tab>
        </mat-tab-group>
      }
    </app-sidenav-layout>
  }
</ng-container>
