<app-layout [loading$]="loading$">
  <div class="header-flex" header>
    <button class="router-button" mat-icon-button (click)="onBack()">
      <mat-icon>close</mat-icon>
    </button>
    <h1>
      {{
        isEdit
          ? ("event.edit.title" | transloco)
          : ("event.new.title" | transloco)
      }}
    </h1>
    <span class="spacer"></span>
    <button
      mat-icon-button
      form="eventForm"
      *ngIf="!hasRePayedDebts"
      [disabled]="eventForm.invalid"
    >
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <div body *transloco="let t">
    <div
      *ngIf="isEdit && hasRePayedDebts"
      class="mat-form-field-invalid hasRePayedDebts"
    >
      {{ t("event.form.afterStartRepayDebts") }}
    </div>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" id="eventForm">
      <mat-form-field class="full-width">
        <mat-label>{{ t("event.form.name") }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{ t("event.form.date") }}</mat-label>
        <input
          matInput
          required
          formControlName="date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <separator position="outer"></separator>
      <grey-title [text]="t('common.addMember')"></grey-title>

      <mat-form-field class="full-width">
        <input
          matInput
          required
          formControlName="organizer"
          [placeholder]="t('common.yourName')"
        />
      </mat-form-field>

      <div
        *ngIf="eventForm.errors?.hasMembersDuplicates"
        class="mat-form-field-invalid"
      >
        {{ t("event.form.hasMembersDuplicates") }}
      </div>

      <div
        *ngIf="eventForm.errors?.organizerInMembers"
        class="mat-form-field-invalid"
      >
        {{ t("event.form.organizerInMembers") }}
      </div>

      <div
        *ngIf="eventForm.errors?.notDeleteMemberExistedInPurchase"
        class="mat-form-field-invalid"
      >
        {{ t("event.form.notDeleteMemberExistedInPurchase") }}
      </div>

      <div formArrayName="members">
        <mat-form-field
          class="full-width"
          *ngFor="let member of members.controls; let i = index"
          [formGroupName]="i"
        >
          <input
            matInput
            formControlName="name"
            [placeholder]="t('common.addMember')"
          />
        </mat-form-field>
      </div>
    </form>

    <div *ngIf="isEdit">
      <separator position="outer"></separator>
      <button
        class="delete-event-button"
        (click)="onDeleteEvent()"
        mat-raised-button
        color="basic"
      >
        <mat-icon>close</mat-icon>{{ t("event.delete") }}
      </button>
    </div>
  </div>
</app-layout>
