<app-layout [loading$]="loading$" *transloco="let t">
  <div class="header-flex" header>
    <button class="router-button" mat-icon-button (click)="onBack()">
      <mat-icon>close</mat-icon>
    </button>

    <h1>
      {{ isEdit ? t('event.edit.title') : t('event.new.title') }}
    </h1>

    <span class="spacer"></span>

    <button mat-icon-button form="eventForm" [disabled]="eventForm.invalid">
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <div body>
    <form-errors
      *ngIf="isEdit && hasRePayedDebts"
      class="hasRePayedDebts"
      [errors]="['afterStartRepayDebts']"
      localization="event.form"
      [force]="true"></form-errors>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" id="eventForm">
      <mat-form-field class="full-width">
        <mat-label>{{ t('event.form.name') }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{ t('event.form.date') }}</mat-label>
        <input
          matInput
          required
          formControlName="date"
          [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <separator position="outer"></separator>
      <grey-title [text]="t('common.addMember')"></grey-title>

      <mat-form-field class="full-width">
        <input
          matInput
          required
          formControlName="organizer"
          [placeholder]="t('common.yourName')" />
      </mat-form-field>

      <form-errors
        [form]="eventForm"
        [errors]="[
          'hasMembersDuplicates',
          'organizerInMembers',
          'notDeleteMemberExistedInPurchase'
        ]"
        localization="event.form"></form-errors>

      <div formArrayName="members">
        <mat-form-field
          class="full-width"
          *ngFor="let member of members.controls; let i = index"
          [formGroupName]="i">
          <input
            matInput
            formControlName="name"
            [placeholder]="t('common.addMember')" />
        </mat-form-field>
      </div>
    </form>

    <div *ngIf="isEdit">
      <separator position="outer"></separator>

      <button
        class="delete-event-button"
        (click)="onDeleteEvent()"
        mat-raised-button
        color="basic"
        [disabled]="hasRePayedDebts">
        <mat-icon>close</mat-icon>{{ t('event.delete') }}
      </button>
    </div>
  </div>
</app-layout>
