/* You can add global styles to this file, and also import other style files */

:root {
  --white: #ffffff;
  --dark: #1d1e1f;
  --red: #f44336;

  --green: #155724;
  --light-green: #c3e6cb;
  --medium-green: #34c082;

  --grey: #83888d;
  --light-grey: #eef1f5;
  --medium-grey: #cccccc;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 1em;
}

button[mat-icon-button] {
  &:disabled {
    color: var(--white) !important;
    opacity: 0.6;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

.mat-form-field-invalid {
  color: var(--red);
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.grey-text {
  color: var(--medium-grey);
  text-align: center;
}

.router-button {
  margin-right: 1em;
}

snack-bar-container.mat-snack-bar-container {
  color: var(--green) !important;
  background-color: var(--light-green) !important;
  border-color: var(--medium-green) !important;
}

.mat-tab-body-wrapper {
  height: 100%;
}
