@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-indigo-palette),
      accent: mat.m2-define-palette(mat.$m2-pink-palette),
    ),
  )
);

.light-mode {
  @include mat.all-component-themes($light-theme);
}

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-blue-grey-palette),
      accent: mat.m2-define-palette(mat.$m2-pink-palette),
    ),
  )
);

.dark-mode {
  @include mat.all-component-themes($dark-theme);
  background-color: #333;
  color: whitesmoke;
}

:root {
  --dark: #1d1e1f;
  --red: #f44336;
  --blue: #3f51b5;

  --green: #155724;
  --light-green: #c3e6cb;
  --medium-green: #34c082;

  --grey: #83888d;
  --light-grey: #eef1f5;
  --medium-grey: #cccccc;
  --dark-grey: #4f5357;

  @media (prefers-color-scheme: dark) {
    --dark: #cccccc;
    --grey: #cccccc;
    --light-grey: #4f5357;
    --medium-grey: #83888d;
  }
}

@import '@fontsource/roboto';
@import 'material-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  padding: 1em;
}

.gradient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2em);
  padding: 1em;
  background: #fff;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media (prefers-color-scheme: dark) {
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(2, 2, 89, 1) 51%,
      rgba(4, 93, 112, 1) 100%
    );
  }
}

button[mat-icon-button] {
  &:disabled {
    color: white !important;
    opacity: 0.6;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.router-button {
  margin-right: 1em;
}

.header-flex {
  display: flex;
  align-items: center;
  width: 100%;

  .header-title {
    margin-left: 0.5em;
  }
}

*:focus {
  outline: none;
}

.cc-revoke,
.cc-btn.cc-deny {
  display: none;
}

// Material theme customization

.mat-form-field-invalid {
  color: var(--red);
  margin-bottom: 0.5em;
}

snack-bar-container.mat-snack-bar-container {
  color: var(--green) !important;
  background-color: var(--light-green) !important;
  border-color: var(--medium-green) !important;
}

.mat-tab-body-wrapper {
  height: 100%;
}

mat-checkbox {
  .mat-checkbox-inner-container {
    width: 1.8em !important;
    height: 1.8em !important;
    margin-bottom: 1em !important;
  }

  .label {
    font-size: 1.2em !important;
  }
}
