.sidenav {
  overflow-y: scroll;

  &_header {
    padding: 0.5em 1em;
  }

  &_main {
    margin-top: 0.5em;

    .event_header {
      display: block;
      padding: 0 1.2em;
      margin-bottom: 1em;
    }

    .event_members {
      padding: 0 1.2em;
      margin: 1em 0 0.5em 0;

      .members_title {
        text-transform: uppercase;
        line-height: 1.38;
        letter-spacing: 1px;
        color: var(--grey);
        margin-bottom: 0.6em;
      }

      .members_item {
        padding: 0.8em 0;
        font-size: 1.2em;
      }
    }

    .event_login {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 1em 1.2em;

      .login_icon {
        margin-right: 1.8em;
        margin-top: 5px;

        mat-icon {
          font-size: 2em;
        }
      }

      .login_button {
        font-size: 1.2em;
      }
    }

    .event_organizer {
      padding: 0 1.2em;
      margin-top: 1em;
    }
  }
}
