<div class="sidenav">
  <header class="sidenav_header">
    <button *ngIf="!hasRePayedDebts" [routerLink]="['edit']" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

    <button (click)="openShareModal()" mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </header>

  <main class="sidenav_main">
    <event-header [event]="event" class="event_header"></event-header>

    <mat-divider></mat-divider>

    <div class="event_members">
      <div class="members_title">
        {{ "event.sidenav.members" | transloco }}
      </div>
      <div class="members_item" *ngFor="let member of event.members">
        {{ getMemberName(member) }}
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="event_login">
      <div class="login_icon">
        <mat-icon>login</mat-icon>
      </div>
      <div [routerLink]="['login']" class="login_button">
        {{ "event.sidenav.login" | transloco }}
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="event_organizer">
      ★ — {{ "event.sidenav.organizer" | transloco }}
    </div>
  </main>
</div>
