<div class="sidenav">
  <header class="sidenav_header">
    <div class="event_actions">
      <div
        *ngIf="!hasRePayedDebts"
        class="actions_item"
        [routerLink]="['edit']"
      >
        <mat-icon>edit</mat-icon>
      </div>
      <div class="actions_item">
        <mat-icon (click)="openPwaDialog()">add_to_home_screen</mat-icon>
      </div>
    </div>
  </header>

  <main class="sidenav_main">
    <event-header [event]="event" class="event_header"></event-header>

    <mat-divider></mat-divider>

    <div class="event_members">
      <div class="members_title">Участники</div>
      <div class="members_item" *ngFor="let member of event.members">
        {{ getMemberName(member) }}
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="event_login">
      <div class="login_icon">
        <mat-icon>login</mat-icon>
      </div>
      <div [routerLink]="['login']" class="login_button">
        Войти под другим именем
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="event_organizer">★ — организатор мероприятия</div>
  </main>
</div>
