<div *ngIf="action.type === actionTypes.CreateEvent">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.manager }}</b>
    {{ "action.eventCreated" | transloco }}
  </p>
</div>

<div *ngIf="action.type === actionTypes.ChangeEventName">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.eventNameChanged" | transloco }}
    <b class="event-action__text_bold"> {{ action.eventName }}</b>
  </p>
</div>

<div *ngIf="action.type === actionTypes.ChangeEventDate">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.eventDateChanged" | transloco }}
    <b class="event-action__text_bold"> {{ action.date }}</b>
  </p>
</div>

<div *ngIf="action.type === actionTypes.AddMemberToEvent">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.addToEvent" | transloco }}
    <b class="event-action__text_bold"> {{ action.memberName }}</b>
  </p>
</div>

<div *ngIf="action.type === actionTypes.AddMembersToEvent">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.manager }}</b>
    {{ "action.add" | transloco }}
    <b class="event-action__text_bold">{{ action.eventMembersCount }}</b>
    {{ "action.peoplesToEvent" | transloco }}
  </p>
</div>

<div *ngIf="action.type === actionTypes.RemoveMemberFromEvent">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.exclude" | transloco }}
    <b class="event-action__text_bold"> {{ action.memberName }}</b>
    {{ "action.fromTheEvent" | transloco }}
  </p>
</div>

<div *ngIf="action.type === actionTypes.AddPurchase">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.addPurchase" | transloco }}
    <b class="event-action__text_bold"> {{ action.purchaseName }}</b>
    {{ "action.onSum" | transloco }} {{ action.sum }}
  </p>
</div>

<div *ngIf="action.type === actionTypes.DeletePurchase">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.deletePurchase" | transloco }}
    <b class="event-action__text_bold"> {{ action.purchaseName }}</b>
  </p>
</div>

<div *ngIf="action.type === actionTypes.AddMembersToPurchase">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.add" | transloco }}
    <b class="event-action__text_bold">{{ action.purchaseMembersCount }}</b>
    {{ "action.peoplesToPurchase" | transloco }}
    <b class="event-action__text_bold"> {{ action.purchaseName }}</b>
  </p>
</div>

<div *ngIf="action.type === actionTypes.AddMemberToPurchase">
  <span
    *ngIf="action.payerName === action.currentUser"
    class="event-action__text"
  >
    {{ "action.myself" | transloco }}
  </span>
  <span
    *ngIf="action.payerName !== action.currentUser"
    class="event-action__text_bold"
  >
    {{ action.payerName }}
  </span>

  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.add" | transloco }} {{ action.payerName }}
    {{ "action.inPurchase" | transloco }}
    <b class="event-action__text_bold">{{ action.purchaseName }}</b>
  </p>
</div>

<div *ngIf="action.type === actionTypes.RemoveMemberFromPurchase">
  <span
    *ngIf="action.payerName === action.currentUser"
    class="event-action__text"
  >
    {{ "action.myself" | transloco }}
  </span>
  <span
    *ngIf="action.payerName !== action.currentUser"
    class="event-action__text_bold"
  >
    {{ action.payerName }}
  </span>

  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.exclude" | transloco }} {{ action.payerName }}
    {{ "action.fromPurchase" | transloco }}
    <b class="event-action__text_bold">{{ action.purchaseName }}</b>
  </p>
</div>

<div *ngIf="action.type === actionTypes.GiveBackPartially">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.notedDebt" | transloco }}
    <b class="event-action__text_bold">{{ action.payerName }}</b>
    {{ "action.partialReturn" | transloco }}
  </p>
</div>

<div *ngIf="action.type === actionTypes.GiveBack">
  <p class="event-action__text">
    <b class="event-action__text_bold">{{ action.currentUser }}</b>
    {{ "action.notedDebt" | transloco }}
    <b class="event-action__text_bold">{{ action.payerName }}</b>
    {{ "action.fullReturn" | transloco }}
  </p>
</div>
